# O ESP32-C3 Super Mini usa o USB Serial/JTAG integrado como console.
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP_CONSOLE_UART_NONE=n
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
